.blogs-section {
  padding: 80px 50px 80px 50px;
  width: 40%;
  background-color: #ffffff;
  margin: 30px auto 30px auto;
  box-shadow: 0px 1px 2px #aaaaaa;
  border-radius: 20px;
}
.article-title {
  font-size: 30px;
  font-weight: bold;
}
.title-section img {
  width: 80%;
  border-radius: 15px;
  margin-bottom: -4px;
}
.content-section {
  text-align: justify;
}
.body {
  padding-top: 0px;
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 0px 1px 2px #aaaaaa;
  align-items: center;
  font-size: 20px;
}
.body-tabs {
  margin-left: 10%;
  margin-top: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.body-tabs button {
  padding: 15px 25px 15px 25px;
  margin: 2px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "BeautyMountain";
  outline: none;
  border-radius: 5px;
}
.body-tabs button:hover {
  background-color: #dadada;
}
