.blogs-section {
  padding: 80px 50px 80px 50px;
  width: 40%;
  background-color: #ffffff;
  margin: 30px auto 30px auto;
  box-shadow: 0px 1px 2px #aaaaaa;
  border-radius: 20px;
}
.title-section img {
  width: 80%;
  border-radius: 15px;
  margin-bottom: -4px;
}
.article-title {
  font-size: 30px;
  font-weight: bold;
}
.content-section {
  text-align: justify;
}
