.blogs-section {
  padding: 20px 50px 50px 50px;
  text-align: justify;
  background-color: #ffffff;
  margin: 30px;
  box-shadow: 0px 1px 2px #aaaaaa;
  border-radius: 10px;
}
.img-section {
  background-color: rgb(131, 131, 131, 0.5);
  align-items: center;
}
.img-section img {
  height: 400px;
  margin-bottom: -4px;
}
